---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Enero 2025 - Actualidad",
    title: "Founder & Lead Developer of Games",
    company: "Archives Videogames Studio",
    description: "Dirección y Liderazgo: Liderazgo técnico y gestión de un equipo multidisciplinario de 9 personas para el desarrollo del título principal del estudio, gestionando el ciclo completo desde el Game Design Document (GDD) inicial. Arquitectura y Programación: Diseño e implementación de la arquitectura de software en Unity (C#), desarrollando mecánicas core, sistemas de estado complejos y dificultad adaptativa para experiencias 2D (Action Roguelike). Diseño de Interacción (UX/UI): Transformación de mecánicas complejas en experiencias de juego fluidas, optimizando los sistemas de input y el rendimiento gráfico (shaders). Prototipado Ágil: Aplicación de metodologías de iteración rápida para la validación de mecánicas de juego, respaldado por experiencia y reconocimientos en competencias de desarrollo acelerado (Game Jams).",
    link:"https://archivesstudio.itch.io/"
  },
  {
    date: "Abril 2024 - Enero 2025",
    title: "Profesor de Tecnología e Informática",
    company: "Corporación Psicopedagogica del Valle",
    description:
      "Profesor de tecnología e informática. Enseñanza de desarrollo de aplicaciones móviles utilizando Kotlin y videojuegos.desarrollo en Unity a estudiantes de 10º y 11º grado. Creación y gestión de contenidos multimedia para redes sociales.Apoyar la educación matemática para estudiantes de 6.º a 8.º grado a través de estrategias de nivelación académica. ",
    link: "https://www.corporacionpsicopedagogica.com",
  },
  {
    date: "Julio 2021 - Mayo 2024",
    title: "Productor General",
    company: "RadioMedia USB",
    description:
      "Creé, planifiqué y ejecuté programas de radio. Supervisé la calidad del contenido y gestioné la logística. Desarrollé experiencias de audio que conectaron con la audiencia.",
    link: "https://www.radiomediausb.com",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
